<!doctype html>
<html>

{{> header}}

<body>
	<nav class="navbar navbar-default">
		<div class="nav1">
			<a href="/">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-home"></span>
					 Home
				</button>
			</a>
			&nbsp; NoteIt!
		</div>
	</nav>

	<div class="container">
		<h3><center>Classes</h3>
	    {{#each Classes}}
	      <div class="list-group">
	      	<a href="/{{department}} {{code}} for {{quarter}} {{year}} by {{professor}}/notes" class="list-group-item">{{department}} {{code}} {{professor}} {{quarter}} {{year}} </a>
	      </div>
	    {{/each}}

	    <div class="bottom">
        <a href="/add_class" id="classes" class="btn btn-default btn-lg btn-block active" role="button">
        	<span class="glyphicon glyphicon-plus"></span>
        	Add New Class</a>
    	</div>  
    </div>  
		<!-- <div class="list-group">
			<a href="/course_ID" class="list-group-item">COGS</a>
	  		<a href="/course_ID" class="list-group-item">CSE</a>
	  		<a href="/course_ID" class="list-group-item">ECE</a>
		</div> -->
	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/noteitucsd.js"></script>
</body>
</html>